* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}

/* body{
    background-image: url(banner6.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
} */
.containerimgmain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 1;
    height: 100%;
    background-image: url(./img/banner6.jpg);
}


.hed {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* .hed>ul>li{
    display: inline;
    padding: 50px;
    border-right: 2px solid;
    } */

/* .hed>ul>li{
        display: inline;
        flex-wrap: wrap;
        border-right: 1px solid wheat;
        align-content: center;
        padding: 10px
    }
    .hed>li{
        border-right: 1px solid wheat;
        text-decoration: none;
        list-style-type: none;
        padding: 0 50px;
        width: 100px;
    }
    .hed>li{
        justify-content: center;
    } */


.h {
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;

    align-content: center;
    justify-content: center;
}

.h1 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;

    align-content: center;
    justify-content: center;
}

.sign {
    padding-right: 10px;
    font-size: 0.7em;
    color: rgb(0, 255, 191);
}

.h a {
    color: white;
}

.h2 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;
    justify-content: center;
    align-content: center;
}

.h2>.sign {
    padding-right: 10px;
    padding-top: 3.8px;
}

.h3>.sign {
    padding-right: 10px;
    padding-top: 3.8px;
}

.h3 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;
    justify-content: center;
    align-content: center;
}

.hed a {
    color: white;
    text-decoration: none;
}

.search-main {
    background-color: red;
    height: 100px;
}

.form {
    background-color: white;
    padding: 30px;
    background-position: 10px 10px;
    box-sizing: border-box;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.imgbox {
    display: flex;
    height: 40px;
    justify-items: center;
    justify-content: center;
    justify-items: center;
}

input[type=search] {
    width: 300px;
    padding: 11px;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

#search {
    padding: 11px 15px;
    background-color: #2fdab8;
    border: none;
    color: white;
    font-size: 1.0em;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    padding: 0;
    margin: 0 120px;
    display: inline;
}

.box>h1 {
    font-weight: 100;
    font-size: 2.2em;
}

.box>h1>a>span {
    background-color: black;
    color: white;
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
    font-weight: 600;
}

.end {
    display: flex;
    margin-left: 150px;
    flex-wrap: wrap;
}

.end>ul>li {
    display: inline;
    list-style-type: none;
    padding: 5px;
    /* margin: 0 10px; */
}
.share-on{
    margin-top: 5px;
}



.share-main ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.fbb {
    background: #3b5998;
}

.tww {
    background: #1da1f2;
}

.inss {
    background: #b32d2d;
}

.linn {
    background: #2b3fa4;
}

.share-main ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.social-itam {
    width: 35px;
    height: 35px;
    perspective: 1000px;
}

.cuba {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

/* Face Shared Styles */
.faca {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

/* Front Face (Original State) */
.faca.fronta {
    transform: rotateY(0deg) translateZ(10px);
    color: #fff;
}

/* Back Face */
.faca.backa {
    background: #fff;
    color: #000;
    transform: rotateX(90deg) translateZ(10px);
}

/* Hover Effect: Rotate the whole cube */
.social-itam:hover .cuba {
    transform: rotateX(-90deg);
}




.nava {
    justify-content: center;
    display: flex;
    padding: 0;
    background-color: black;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    background: black;
    padding: 15px 0;
}

.nav li {
    list-style: none;
    margin: 0 15px;
    position: relative;
}

.nav li a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

/* underline */
.nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 0;
    height: 4px;
    background: #2fdab8;
    transition: width 0.4s ease;
}

/* hover */
.nav li:hover::after {
    width: 100%;
}

/* CLICK & HOLD (TARGET) */
.nav li:target::after {
    width: 100%;
}

.charry {
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    margin-left: 50px;
    background-color: #2fdab8;
}

.charry>a {
    padding: 10px;
    background-color: #17c3a2;
    color: black;
}


.nav ul li::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 5px;
    /* Adjust thickness of the line */
    background-color: #2fdab8;
    /* Adjust color as needed */
    transition: width 0.5s ease;
    /* Adjust duration and easing */
}

.nav ul li:hover::after {
    width: 100%;
}

/* about code */
.about-main-header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 190px;
    width: 100%;
    /* border: 1px solid; */
    background-image: url(banner6copy.jpg);
}

.about-main-header h4 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.about-main-header h4 span {
    font-weight: 100;
}

.about-main-header1 {
    justify-content: center;
    position: absolute;
    display: flex;
    width: 100%;
    height: 190px;
    /* justify-items: center; */
    /* border: 1px solid white;  */
}

.homa {
    width: 100%;
    height: 100px;
}

.about-main-header2 ul {
    height: none;
}

.about-main-header2 ul li a {
    color: #17c3a2;
}

.about-main-header2 ul li {
    list-style-type: none;
    color: white;
    display: inline;
}

.hom {
    height: auto;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: start;
}

.about-main-header2 {
    position: absolute;
    /* padding-left: 8em; */
    display: flex;
    height: 50px;
    width: 100%;
    /* border: 1px solid white; */
}

/* .hom ul .latter-space {
    padding: 12px;
} */

.hom ul .home-color {
    color: #17c3a2;
}


.new-one-image {
    height: 450px;
    width: 100%;
    border: 5px solid;
}

/* mideel */

.cardHover {
    height: 700px;
    width: 100%;
    /* border: 1px solid; */
    align-content: center;
    justify-items: center;
    background-color: white;
}

.fourcard-main {
    width: 1000px;
    height: 90%;
    /* border: 1px solid black; */
    align-content: center;
    justify-items: center;
}

.main-border:hover {
    display: block;
}

.main-border {
    left: 6%;
    top: 10%;
    position: absolute;
    width: 80%;
    height: 80%;
    margin-right: 100px;
    padding: 0 12px;
    /* border: 5px solid black; */
    color: white;
    /* display: none;   */
}

.main-two-card {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    height: 45%;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.inmain-two-card {
    /* border: 1px solid black; */
    height: 100%;
    width: 45%;
    background-image: url(./img/one.jpg );
    background-size: cover;
}

.inmain-two-card1 h4 span {
    font-weight: 100;

}

.inmain-two h5 span {
    font-weight: 700;
    color: red;
}

.inmain-two h5 {
    color: white;
    /* position: absolute; */
    text-transform: uppercase;
    font-size: 1.8em;
    text-align: end;
    margin: 50px;
    font-weight: 100;
}

.inmain-two-card1 h4 {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.inmain-two-card1 p {
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
    color: #000000b0;
}

.inmain-two-card1 {
    /* border: 1px solid black; */
    height: 100%;
    width: 50%;
    /* background-image: url(one.jpg); */
    /* background-size: cover; */
}



.inmain-two {
    height: 90%;
    width: 50%;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-position: center;
    transition: all 0.5s ease;
}


.ima {
    /* display: flex; */
    position: relative;
    background-image: url(./img/card3.jpg);
    height: 250px;
    width: 400px;
    padding-left: 120px;
    box-shadow: inset 0 2px 10px black;
    background-size: 100% 110%;
    background-position-x: -10px;
    transition: background-position-x 1s;
}

.bora {
    left: 0%;
    top: 10%;
    position: absolute;
    width: 80%;
    height: 80%;
    /* margin-right: 100px; */
    padding: 0 12px;
    border: 5px solid white;
    color: white;
    /* display: none; */
    opacity: 0;
    transition: all 0.5s ease;
}

.ima>.bora>p {
    margin-top: 100px;
    margin-left: 180px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1em;
}

.ima:hover .bora {
    left: 6%;
    opacity: 1;
}

.ima:hover {
    background-position-x: 10px;
}

.ima1 {
    background-image: url(./img/card1.jpg);
}

.ima>h3>span {
    font-size: 2.0em;
    color: #2da28b;
}

.adjesta {
    padding-left: 100px;
    padding-top: 60px;
    color: aqua;
}



/* 
.ho1{
    background-image: url(./midal2.jpg);
}

.ho2{
    background-image: url(./midal2.jpg);
} */


.inmain-two:hover {
    background-position-x: -10px;
}



/* our team 4 image  */

.our-main {
    height: 470px;
    width: 100%;
    background-color: rgb(222, 243, 243);
    align-content: center;
    text-align: center;
    justify-items: center;
}

.our-main h4 {

    text-transform: uppercase;
    font-size: 2em;
    font-weight: 100;
}

.our-main h4 span {
    font-weight: 700;
}

.our-team {
    /* border: 1px solid; */
    height: 350px;
    width: 90%;
    display: flex;
    gap: 20px;
    justify-content: center;
    /* position: relative; */
    align-items: center;
}

.four-team img {
    height: auto;
    width: 100%;

}

.four-team {
    display: flex;
    border: 1px solid;
    height: 250px;
    width: 18%;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(166, 219, 158, 0.518);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    /* opacity: 1; */
    justify-items: center;
}

.four-team:hover .overlay {
    /* align-content: center; */
    height: 50%;
}

.overlay .text p {
    top: 3px;
    letter-spacing: 0.100em;
    color: #fff;
}

.overlay .text h4 {
    /* align-items: center; */
    /* margin-top: 0px; */
    font-size: 1.5em;
    color: #000;
}

.text {
    /* white-space: nowrap; */
    opacity: 1000;
    color: #fff;
    /* font-size: 20px; */
    position: absolute;
    overflow: hidden;
    /* border: 1px solid; */
    margin-top: 30px;
}

.share-main {
    margin-top: 5px;
}

.share-main ul li {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    /* justify-items: center; */
    color: #fff;
    margin: 2px;
    cursor: pointer;
}

.fbb {
    background: #3b5998;
}

.tww {
    background: #1da1f2;
}

.inss {
    background: #b32d2d;
}

.linn {
    background: #2b3fa4;
}

.share-main ul {
    display: flex;
    list-style: none;
    justify-content: center;
    /* top: 10px; */
}

.social-itam {
    width: 26px;
    height: 26px;
    perspective: 1000px;
}

.cuba {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

/* Face Shared Styles */
.faca {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

/* Front Face (Original State) */
.faca.fronta {
    transform: rotateY(0deg) translateZ(13px);
    color: #fff;
}

/* Back Face */
.faca.backa {
    background: #fff;
    color: #000;
    transform: rotateX(90deg) translateZ(13px);
}

/* Hover Effect: Rotate the whole cube */
.social-itam:hover .cuba {
    transform: rotateX(-90deg);
}