* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}

.containerimgmain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 1;
    height: 100%;
    background-image: url(./img/banner6.jpg);
}


.hed {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* .hed>ul>li{
    display: inline;
    padding: 50px;
    border-right: 2px solid;
    } */

/* .hed>ul>li{
        display: inline;
        flex-wrap: wrap;
        border-right: 1px solid wheat;
        align-content: center;
        padding: 10px
    }
    .hed>li{
        border-right: 1px solid wheat;
        text-decoration: none;
        list-style-type: none;
        padding: 0 50px;
        width: 100px;
    }
    .hed>li{
        justify-content: center;
    } */


.h {
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;

    align-content: center;
    justify-content: center;
}

.h1 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;

    align-content: center;
    justify-content: center;
}

.sign {
    padding-right: 10px;
    font-size: 0.7em;
    color: rgb(0, 255, 191);
}

.h a {
    color: white;
}

.h2 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;
    justify-content: center;
    align-content: center;
}

.h2>.sign {
    padding-right: 10px;
    padding-top: 3.8px;
}

.h3>.sign {
    padding-right: 10px;
    padding-top: 3.8px;
}

.h3 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;
    justify-content: center;
    align-content: center;
}

.hed a {
    color: white;
    text-decoration: none;
}

.search-main {
    background-color: red;
    height: 100px;
}

.form {
    background-color: white;
    padding: 30px;
    background-position: 10px 10px;
    box-sizing: border-box;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.imgbox {
    display: flex;
    height: 40px;
    justify-items: center;
    justify-content: center;
    justify-items: center;
}

input[type=search] {
    width: 300px;
    padding: 11px;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

#search {
    padding: 11px 15px;
    background-color: #2fdab8;
    border: none;
    color: white;
    font-size: 1.0em;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    padding: 0;
    margin: 0 120px;
    display: inline;
}

.box>h1 {
    font-weight: 100;
    font-size: 2.2em;
}

.box>h1>a>span {
    background-color: black;
    color: white;
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
    font-weight: 600;
}

.end {
    display: flex;
    margin-left: 150px;
    flex-wrap: wrap;
}

.end>ul>li {
    display: inline;
    list-style-type: none;
    padding: 5px;
    /* margin: 0 10px; */
}
.share-on{
    margin-top: 5px;
}



.share-main ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.fbb {
    background: #3b5998;
}

.tww {
    background: #1da1f2;
}

.inss {
    background: #b32d2d;
}

.linn {
    background: #2b3fa4;
}

.share-main ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.social-itam {
    width: 35px;
    height: 35px;
    perspective: 1000px;
}

.cuba {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

/* Face Shared Styles */
.faca {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

/* Front Face (Original State) */
.faca.fronta {
    transform: rotateY(0deg) translateZ(10px);
    color: #fff;
}

/* Back Face */
.faca.backa {
    background: #fff;
    color: #000;
    transform: rotateX(90deg) translateZ(10px);
}

/* Hover Effect: Rotate the whole cube */
.social-itam:hover .cuba {
    transform: rotateX(-90deg);
}




.nava {
    justify-content: center;
    display: flex;
    padding: 0;
    background-color: black;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    background: black;
    padding: 15px 0;
}

.nav li {
    list-style: none;
    margin: 0 15px;
    position: relative;
}

.nav li a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

/* underline */
.nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 0;
    height: 4px;
    background: #2fdab8;
    transition: width 0.4s ease;
}

/* hover */
.nav li:hover::after {
    width: 100%;
}

/* CLICK & HOLD (TARGET) */
.nav li:target::after {
    width: 100%;
}

.charry {
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    margin-left: 50px;
    background-color: #2fdab8;
}

.charry>a {
    padding: 10px;
    background-color: #17c3a2;
    color: black;
}


.nav ul li::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 5px;
    /* Adjust thickness of the line */
    background-color: #2fdab8;
    /* Adjust color as needed */
    transition: width 0.5s ease;
    /* Adjust duration and easing */
}

.nav ul li:hover::after {
    width: 100%;
}

/* about code */
.banner-card {
    display: flex;
    position: relative;
    justify-content: center;
    height: 190px;
    width: 100%;
    /* border: 1px solid; */
    background-image: url(./img/banner6.jpg);
}

.banner-card h4 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}
.banner-card h4 span {
    font-weight: 100;
}

.about-main-header1 {
    justify-content: center;
    position: absolute;
    display: flex;
    width: 100%;
    height: 190px;
    /* justify-items: center; */
    /* border: 1px solid white;  */
}

.homa {
    width: 100%;
    height: 100px;
}

.about-main-header2 ul {
    height: none;
}

.about-main-header2 ul li a {
    color: #17c3a2;
}

.about-main-header2 ul li {
    list-style-type: none;
    color: white;
    display: inline;
}

.hom {
    height: auto;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: start;
}

.about-main-header2 {
    position: absolute;
    /* padding-left: 8em; */
    display: flex;
    height: 50px;
    width: 100%;
    /* border: 1px solid white; */
}

/* .hom ul .latter-space {
    padding: 12px;
} */

.hom ul .home-color {
    color: #17c3a2;
}


.new-one-image {
    height: 450px;
    width: 100%;
    border: 5px solid;
}




/* 
.ho1{
    background-image: url(./midal2.jpg);
}

.ho2{
    background-image: url(./midal2.jpg);
} */


.inmain-two:hover {
    background-position-x: -10px;
}

/* contect main */
.contect-card-main {
    display: flex;
    height: 300px;
    width: 99.91%;
    /* border: 1px solid; */
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.contect-m {
    display: flex;
    gap: 10px;
    /* border: 1px solid; */
    justify-content: center;
}



.locati {
    font-size: 2.2em;
    font-weight: 100;
    font-size: x-large;
}

.contect{
    background-color: #000;
    /* background-color: red; */
    height: 200px;
    width: 300px;
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    color: white;
}

.contect-text p {
    text-align: center;
    /* line-height: 50px; */
}

.contect-text h4 {
    line-height: 60px;
    color: #2fdab8;
    font-size: 1.5em;
    text-transform: uppercase;
}

.contect-text {
    display: flex;
    flex-direction: column;
    /* line-height: 0px; */
    height: 200px;
    width: 90%;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
}

iframe {
    height: 400px;
    width: 100%;
    background-color: #fff;
}

.ifra {
    background-color: #fff;
}

/* bottom */

.contect-middel-bro {
    height: 600px;
    width: 100%;
    border: 1px solid;
    justify-items: center;
    align-content: center;
    background-color: #fff;
}

.in-contect {
    display: flex;
    height: 500px;
    width: 70%;
    /* border: 1px solid; */
    /* align-items: center; */
    /* align-content: center; */
}

.in-two {
    /* align-content: center; */
    /* display: flex; */
    height: 500px;
    width: 100%;
    /* border: 1px solid; */
}

.in-two>h4 {
    font-size: 2em;
    font-weight: 100;
}

.in-two>h4>span {
    font-weight: 900;
}

.main-contect {
    /* margin-top: 50px; */
    height: 400px;
    width: 100%;
    /* border: 1px solid; */
    /* display: inline; */
    /* align-items: center; */
    align-content: center;


}


.three-contect {
    height: 100px;
    width: 100%;
    align-items: center;
    /* border: 1px solid; */
    display: flex;
    gap: 30px;
}


.call {
    /* flex-direction: column; */
    padding: 25px;
    border: 2.5px solid rgb(221, 221, 221);
    font-size: 1.5em;
}

.lakhvanu {
    flex-direction: column;
    /* border: 1px solid; */
    height: 70px;
    gap: 8px;
    display: flex;
}

.lakhvanu h4 {
    color: rgb(47, 218, 184);
}

.lakhvanu p {
    color: rgb(84, 84, 84);
}

.three-contect a {
    color: black;
}




.share-on {
    margin-top: 3px;
    font-size: 1.4em;
    text-transform: uppercase;
}


/* justify-content: center; */
.share-main {
    /* border: 1px solid; */
    margin-top: 30px;
    display: flex;
}

.share-main ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.fbb {
    background: #3b5998;
}

.tww {
    background: #1da1f2;
}

.inss {
    background: #b32d2d;
}

.linn {
    background: #2b3fa4;
}

.share-main ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.social-itam {
    width: 35px;
    height: 35px;
    perspective: 1000px;
}

.cuba {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

/* Face Shared Styles */
.faca {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

/* Front Face (Original State) */
.faca.fronta {
    transform: rotateY(0deg) translateZ(15px);
    color: #fff;
}

/* Back Face */
.faca.backa {
    background: #fff;
    color: #000;
    transform: rotateX(90deg) translateZ(15px);
}

/* Hover Effect: Rotate the whole cube */
.social-itam:hover .cuba {
    transform: rotateX(-90deg);
}










.in-two1 {
    /* display: flex; */
    height: 500px;
    width: 100%;
    background-color: black;
    align-content: center;
    justify-items: center;
}



.contect-form {
    position: relative;
    width: 100%;
    height: 440px;
    background: transparent;
    /* border: 2px solid; */
    /* border-radius: 20px; */
    backdrop-filter: blur(20px);
    /* box-shadow: 0 0 30px rgb(0, 0, 0, .5); */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: black; */
}



.contect-form .form-box {
    width: 100%;
    padding: 40px;
    color: white;
}

.contect-form .form-box h2 {
    font-size: 2em;
    color: white;
    font-weight: 100;
    color: white;
}

.contect-form .form-box h2 span {
    font-weight: 700;
    color: white;
}

.input-form-box {
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.788);
    margin: 45px 0;
}

/* .input-form-box:active{
            border: 2px solid yellow;
        }
        */
.input-form-box:focus-within {
    border-bottom: 2px solid #191919;
}




.input-form-box label {
    position: absolute;
    top: 40%;
    left: 1px;
    transform: translateY(-60%);
    /* font-weight: 700; */
    font-size: 0.9em;
    pointer-events: none;
    transition: 0.5s;
    color: #575555;
    text-transform: uppercase;
}

.input-form-box textarea {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.input-form-box input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;

}

.input-form-box input:focus~label,
.input-form-box input:valid~label {
    top: -5px;
    color: rgb(255, 132, 0);
}

.input-form-box textarea:focus~label,
.input-form-box textarea:valid~label {
    color: rgb(255, 132, 0);
    top: -5px;

}

.bob {
    content: 'required';
    height: 50px;
    width: 40%;
    background-color: #2fdab8;
    border: none;
    color: white;
}

.input-form-box label::after {
    content: " *";
    color: red;
    font-size: 0.9em;
}