* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}


.hed {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* .hed>ul>li{
    display: inline;
    padding: 50px;
    border-right: 2px solid;
    } */

/* .hed>ul>li{
        display: inline;
        flex-wrap: wrap;
        border-right: 1px solid wheat;
        align-content: center;
        padding: 10px
    }
    .hed>li{
        border-right: 1px solid wheat;
        text-decoration: none;
        list-style-type: none;
        padding: 0 50px;
        width: 100px;
    }
    .hed>li{
        justify-content: center;
    } */


.h {
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;

    align-content: center;
    justify-content: center;
}

.h1 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;

    align-content: center;
    justify-content: center;
}

.h2 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;
    justify-content: center;
    align-content: center;
}

.h3 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;
    justify-content: center;
    align-content: center;
}

.hed a {
    color: white;
    text-decoration: none;
}

.search {
    background-color: red;
    height: 100px;
}

.form {
    /* background-color: blue; */
    padding: 30px;
    background-position: 10px 10px;
    box-sizing: border-box;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.imgbox {
    display: flex;
    height: 40px;
    justify-items: center;
    justify-content: center;
    justify-items: center;
}

input[type=search] {
    width: 300px;
    padding: 11px;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: black;
}

.box {
    padding: 0;
    margin: 0 120px;
    display: inline;
}

.box>h1>a {
    font-weight: 1;
    font-size: 1.5em;
}

.box>h1>a>span {
    background-color: black;
    color: white;
    font-size: 50px;
    display: inline;
}

.end {
    display: flex;
    margin-left: 150px;
    flex-wrap: wrap;
}

.end>ul>li {
    display: inline;
    list-style-type: none;
    padding: 5px;
    /* margin: 0 10px; */
}

/* nevigation bar */
.nav {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 25px;
    justify-content: center;
    /* align-content:center ; */
    /* align-items: center;  */
    justify-items: center;
}

.nav>ul>li {
    display: inline;
    list-style-type: none;
    color: white;
    padding: 25px;
}

.nav>ul>li>i {
    font-size: 12px;

}

.chary {
    display: inline;
    background-color: #2fdab8;
    /* color: white; */
    height: 100px;
    width: 300px;
    padding: 20px 100px;
    font-size: 25px;
}

.chary>a>span {
    background-color: #2da28b;
}

.me-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}


.container {
    display: flex;
    flex-direction: row;
    width: 500%;
    overflow: hidden;
    /* position: absolute; */
}

.container>div>img {
    height: 300px;
    width: 220vh;
}

.container>div {
    width: 100%;
    animation: slides 16s infinite;
}

.text-me-container {
    /* position: relative; */
    width: 100%;
    /* display: flex; */
    flex-direction: row;
    overflow: hidden;
}

.text-me-container>.tex-me-containe {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 0;
}

.text-me-container>.tex-me-containee {
    /* display: block; */
    width: 100%;
    border: 1px solid black;

}




@keyframes slides {
    0% {
        transform: translateX(0);
        animation-delay: 3s;
    }

    15% {
        transform: translateX(0%);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.span {
    letter-spacing: .2em;
    color: #2fdab8;

}

.p {
    letter-spacing: .3em;
    font-size: 20px;
    color: chartreuse;
    margin-top: 30px;
}

.button1 {
    display: inline;
    justify-content: center;
    /* background-color: red; */
    padding: 15px;

}

.button1:hover {
    border: 5px solid #2fdab8;
}

.button {
    height: 35px;
    width: 150px;
    background-color: #2fdab8;
    border: none;
    margin-top: 40px;
    color: white;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.m {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin: 0 100px;
    justify-content: center;
    gap: 20px;
}

.im {
    display: flex;
    position: relative;
    background-image: url("midel2.jpg");
    height: 250px;
    width: 300px;
    padding-left: 120px;
    box-shadow: inset 0 2px 10px black;
    background-size: 100% 110%;
    background-position-x: -10px;
    transition: background-position-x 1s;
}

.bor {
    left: 6%;
    top: 10%;
    position: absolute;
    width: 80%;
    height: 80%;
    margin-right: 100px;
    padding: 0 12px;
    border: 5px solid white;
    color: white;
    display: none;
}

.im:hover {
    background-position-x: 10px;
}

.im:hover>.bor {
    display: block;
}

.im1 {
    background-image: url('./midal2.jpg');
}


.m>.im>h3>span {
    font-size: 2.0em;
    color: #2da28b;
}

.adjest {
    padding-left: 100px;
    padding-top: 60px;
    color: aqua;
}

.m>.im>.bor>p {
    margin-top: 100px;
    margin-left: 110px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-size: 1em;
}




/* @media (max-width:1200px) and (min-width:600px) {
    li{
        display: flex;
        flex-wrap: wrap;
    }
    div{
        display: flex;
        flex-wrap: wrap;
           padding: 10px 20px;
    border-right: 1px solid;
    } */