* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}


.hed {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* .hed>ul>li{
    display: inline;
    padding: 50px;
    border-right: 2px solid;
    } */

/* .hed>ul>li{
        display: inline;
        flex-wrap: wrap;
        border-right: 1px solid wheat;
        align-content: center;
        padding: 10px
    }
    .hed>li{
        border-right: 1px solid wheat;
        text-decoration: none;
        list-style-type: none;
        padding: 0 50px;
        width: 100px;
    }
    .hed>li{
        justify-content: center;
    } */


.h {
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;

    align-content: center;
    justify-content: center;
}

.h1 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;

    align-content: center;
    justify-content: center;
}

.h2 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;
    justify-content: center;
    align-content: center;
}

.h3 {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid wheat;
    justify-content: center;
    align-content: center;
}

.hed a {
    color: white;
    text-decoration: none;
}

.search {
    background-color: red;
    height: 100px;
}

.form {
    /* background-color: blue; */
    padding: 30px;
    background-position: 10px 10px;
    box-sizing: border-box;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.imgbox {
    display: flex;
    height: 40px;
    justify-items: center;
    justify-content: center;
    justify-items: center;
}

input[type=search] {
    width: 300px;
    padding: 11px;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

#search {
    padding: 11px 15px;
    background-color: #2fdab8;
    border: none;
    color: white;
    font-size: 1.0em;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    padding: 0;
    margin: 0 120px;
    display: inline;
}

.box>h1>a {
    font-weight: 1;
    font-size: 1.5em;
}

.box>h1>a>span {
    background-color: black;
    color: white;
    font-size: 50px;
    display: inline;
}

.end {
    display: flex;
    margin-left: 150px;
    flex-wrap: wrap;
}

.end>ul>li {
    display: inline;
    list-style-type: none;
    padding: 5px;
    /* margin: 0 10px; */
}


.nav{
    justify-content: center;
    display: flex;
    padding: 0;
    background-color: black;
    align-items: center;
}
.nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  color: white;
  gap: 20px;
  justify-content: center;
}

.nav ul li {
    letter-spacing: 2px;
  position: relative;
  margin: 0 10px; /* Adjust spacing as needed */
  padding:0px 0px;
  cursor: pointer;
}
.charry{
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    margin-left: 50px;
    background-color: #2fdab8;
}
.charry>a{
    padding: 10px;
    background-color:#17c3a2;
    color: black;
}


.nav ul li::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 5px; /* Adjust thickness of the line */
  background-color:#2fdab8; /* Adjust color as needed */
  transition: width 0.5s ease; /* Adjust duration and easing */
}

.nav ul li:hover::after {
  width: 100%;
}


.me-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    width: 500%;
    flex-direction: row;

}

.container>div {
    width: 100%;
    position: relative;
    /* animation: slides 16s infinite; */
}

.container>div>img {
    width: 100%;
    height: 420px;
    /* object-fit: cover;  */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text-overlay1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text-overlay h1 {
    font-size: 3em;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
    font-weight: lighter;
}

.text-overlay1 h1 {
    letter-spacing: 0.3em;
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: lighter;
}

.text-overlay span {
    letter-spacing: 0.5em;
    color: #2fdab8;
    font-size: 1.0em;
    font-weight: bolder;
}

.text-overlay1 span {
    letter-spacing: 0.1em;
    color: #2fdab8;
    font-size: 1.0em;
    font-weight: bolder;
}

.text-overlay p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ffb900;
    letter-spacing: 0.5em;
}

.text-overlay1 p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ffb900;
    letter-spacing: 0.5em;
}

.shopenow>button {
    position: relative;
    height: 40px;
    width: 120px;
    margin-top: 5px;
    background-color: #42bea5;
    border: none;
    z-index: 10;
}

.sh-br{

    top: 73%;
    left: 41%;
    position: absolute;
    /* background-color: #ffb900; */
    padding: 18px 55px;
    border: 5px solid #17c3a2;
    transition: all 0.5s ease;
    z-index: 5;
    
}

.shopenow:hover>.sh-br{
    transform: scale(1.3);
}


.text-overlay>.butt {
    content: '';
    position: absolute;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: 50px;
    width: 150px;
    transition-property: top, right, left, bottom;
    margin-left: 40%;

}

.text-overlay1>.butt {
    content: '';
    position: absolute;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: 50px;
    width: 150px;
    transition-property: top, right, left, bottom;
    margin-left: 40%;

}

.text-overlay .butt:hover {
    border: 2px solid#4ac7ae;
}

.text-overlay1 .butt:hover {
    border: 2px solid#4ac7ae;

}

@keyframes slides {
    0% {
        transform: translateX(0);
    }

    16.67% {
        transform: translateX(0);
    }

    20% {
        animation-delay: 5s;
        transform: translateX(-100%);
    }

    36.67% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    56.67% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    76.67% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    96.67% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.span {
    letter-spacing: .2em;
    color: #2fdab8;

}

.p {
    letter-spacing: .3em;
    font-size: 20px;
    color: chartreuse;
    margin-top: 30px;
}

.button1 {
    display: inline;
    justify-content: center;
    /* background-color: red; */
    padding: 15px;

}

.button1:hover {
    border: 5px solid #2fdab8;
}

.button {
    height: 35px;
    width: 150px;
    background-color: #2fdab8;
    border: none;
    margin-top: 40px;
    color: white;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.m {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin: 0 100px;
    justify-content: center;
    gap: 20px;
}

.im {
    display: flex;
    position: relative;
    background-image: url("./img/midel2.jpg");
    height: 250px;
    width: 300px;
    padding-left: 120px;
    box-shadow: inset 0 2px 10px black;
    background-size: 100% 110%;
    background-position-x: -10px;
    transition: background-position-x 1s;
}

.bor {
    left: 6%;
    top: 10%;
    position: absolute;
    width: 80%;
    height: 80%;
    margin-right: 100px;
    padding: 0 12px;
    border: 5px solid white;
    color: white;
    display: none;
}

.im:hover {
    background-position-x: 10px;
}

.im:hover>.bor {
    display: block;
}

.im1 {
    background-image: url('./img/midal2.jpg');
}


.m>.im>h3>span {
    font-size: 2.0em;
    color: #2da28b;
}

.adjest {
    padding-left: 100px;
    padding-top: 60px;
    color: aqua;
}

.m>.im>.bor>p {
    margin-top: 100px;
    margin-left: 110px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-size: 1em;
}

* {
    padding: 0;
    margin: 0;
}

.img-main {
    width: 100%;
    height: 400px;
    margin: 0;
    display: flex;
    background-color: #2fdab8;
}

.photo {
    height: 400px;
    width: 80%;
    background-color: black;
}

.img-main>.photo>img {
    height: 100%;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
}
.card>.incard>h2{
    margin: 22px 0;
    text-transform: uppercase;
}

.cl-data {
    display: flex;
   justify-content: space-around;
    left: 100px;
    margin: 50px 0;
}

.incard {
    background-color: white;
    width: 80%;
    padding-left: 30px;
    padding-right: 20px;
    box-shadow: 5px 0px 10px #19a98c;
}


.card>.incard>h2>span{
  color: #fc636b;
}
.card>.incard>p{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.7);
}
.clear-fix{
    text-align: center;
    line-height: 30px;
}
.cl-data>.clear-fix>p>i{
    color:#19a98c ;
    font-size: 22px;
}






/* @media (max-width:1200px) and (min-width:600px) {
    li{
        display: flex;
        flex-wrap: wrap;
    }
    div{
        display: flex;
        flex-wrap: wrap;
           padding: 10px 20px;
    border-right: 1px solid;
    } */